/* Heading - Bevan
Sub - League Spartan
Text - Archivo Narrow
Details - Kalam


.league-spartan-<uniquifier> {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.bevan-regular {
  font-family: "Bevan", serif;
  font-weight: 400;
  font-style: normal;
}

.bevan-regular-italic {
  font-family: "Bevan", serif;
  font-weight: 400;
  font-style: italic;
}


.archivo-narrow-<uniquifier> {
  font-family: "Archivo Narrow", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.kalam-light {
  font-family: "Kalam", cursive;
  font-weight: 300;
  font-style: normal;
}

.kalam-regular {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}

.kalam-bold {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
}

 */

.navbar-custom {
    background-color: #2c3e50; 
    border-bottom: 2px solid #e67e22; 
}

.nav-toggler-custom {

}


.burnt-text {

}

.and-text {

}

.orange-text {

}